@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "Menlo", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
}

@layer utilities {
  .prose h1 {
    color: var(--tw-prose-headings);
    font-size: 2.25em;
    font-weight: 600;
  }

  .prose h2 {
    color: var(--tw-prose-headings);
    font-size: 1.5em;
    font-weight: 600;
  }

  .prose h3 {
    color: var(--tw-prose-headings);
    font-size: 1.3em;
    font-weight: 600;
  }

  .prose h4 {
    color: var(--tw-prose-headings);
    font-size: 1.1em;
    font-weight: 600;
  }

  .prose h5 {
    color: var(--tw-prose-headings);
    font-size: 1.1em;
    font-weight: 600;
  }

  .prose h6 {
    color: var(--tw-prose-headings);
    font-size: 1em;
    font-weight: 600;
  }
}
