@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Saira Semi Condensed";
  src: url("/fonts/Saira Semi Condensed.woff2") format("woff2");
}

@theme {
  --font-mono: "Menlo", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
}

.astro-code {
  font-size: 0.8em;
  /* white-space: pre-wrap; */
  background: none !important;
}

:not(.dark) {
  .astro-code {
    border: 1px solid oklch(0% 0 0 / 0.1);
    border-radius: unset;
  }
}

.dark {
  .astro-code {
    border: 1px solid oklch(100% 0 0 / 0.1);
  }

  /* https://docs.astro.build/en/guides/syntax-highlighting/#setting-light-and-dark-mode-themes */
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    /* background-color: var(--shiki-dark-bg) !important; */
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

:not(pre) > code {
  font-family: var(--code-font-family);
  font-weight: var(--font-weight-medium);
  font-size: 0.9em;
  padding: 0 4px;
}

@layer utilities {
  .prose h1 {
    color: var(--tw-prose-headings);
    font-size: 2.25em;
    font-weight: 600;
  }

  .prose h2 {
    color: var(--tw-prose-headings);
    font-size: 1.5em;
    font-weight: 600;
  }

  .prose h3 {
    color: var(--tw-prose-headings);
    font-size: 1.3em;
    font-weight: 600;
  }

  .prose h4 {
    color: var(--tw-prose-headings);
    font-size: 1.1em;
    font-weight: 600;
  }

  .prose h5 {
    color: var(--tw-prose-headings);
    font-size: 1.1em;
    font-weight: 600;
  }

  .prose h6 {
    color: var(--tw-prose-headings);
    font-size: 1em;
    font-weight: 600;
  }
}
