---
import Body from "@components/Body.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <Body class="h-screen flex-col items-center justify-center">
    <h1 class="text-xl">404</h1>

    <br />

    <iframe
      title="404"
      width="640"
      height="480"
      src="https://www.youtube.com/embed/-RFunvF0mDw?autoplay=1&controls=0&rel=0&loop=1"
      allow="autoplay; fullscreen"
      allowfullscreen></iframe>
  </Body>
</BaseLayout>
