---
const { class: customClass = "" } = Astro.props;
---

<body
  class={`
    bg-[#f8f0eb] text-black dark:bg-black dark:text-white
    font-mono
    text-xs
    transition-[background-color] duration-200
    ${customClass}`.trim()}
>
  <slot />
</body>
