---
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width" />

  <link rel="icon" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />

  <title>{`${title ? `${title} - ` : ""}tekno world`}</title>

  <script is:inline>
    window.ThemeProvider = (() => {
      const isDarkTheme = () =>
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches);

      const applyTheme = (doc = document) => {
        doc.documentElement.dataset.theme = isDarkTheme() ? "dark" : "light";
      };

      const updateLabel = () => {
        const elem = document.getElementById("theme-toggle");
        if (!elem) return;
        const themeLabel = localStorage.theme ?? "system";
        elem.textContent = themeLabel;
      };

      document.addEventListener("astro:before-swap", (event) =>
        applyTheme(event.newDocument)
      );

      applyTheme();

      return {
        applyTheme,
        updateLabel,
      };
    })();
  </script>

  <noscript>
    <style>
      .requires-js {
        display: none;
      }
    </style>
  </noscript>

  <ClientRouter />
</head>
