---
import type {
  TransitionAnimationPair,
  TransitionDirectionalAnimations,
} from "astro";
import Body from "./Body.astro";
import Circles from "./Circles.svelte";
import Header from "./Header.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const animDuration = "0.4s";

const anim: TransitionAnimationPair = {
  old: {
    name: "blur-out",
    duration: animDuration,
  },
  new: {
    name: "blur-in",
    duration: animDuration,
  },
};

const customTransition: TransitionDirectionalAnimations = {
  forwards: anim,
  backwards: anim,
};

const { isPost } = Astro.props;

const mainPad = "md:px-12 sm:px-8 px-6";
---

<Body>
  {!isPost && <Circles client:load />}

  <Header pad={mainPad} />

  <main
    class={`
      prose
      dark:prose-invert
      ${mainPad}
      mx-auto py-8
      ${
        isPost
          ? "w-[min(100%,70ch)]! max-w-[70ch]!"
          : "w-[min(100%,65ch)]! max-w-[65ch]!" /* 65ch is prose default */
      }
    `}
    transition:animate={customTransition}
  >
    <slot />

    <hr />

    <div class="flex justify-between gap-3">
      <a href="https://github.com/f0e/site">site source code</a>
      <ThemeSwitcher />
    </div>
  </main>
</Body>

<style>
  :root {
    --anim-distance: 20px;
    --blur-amount: 8px;
  }

  @keyframes blur-in {
    from {
      opacity: 0;
      filter: blur(var(--blur-amount));
    }
  }

  @keyframes blur-out {
    to {
      opacity: 0;
      filter: blur(var(--blur-amount));
    }
  }
</style>

<script is:inline>
  // @TODO: is there a better, more natively Astro way of doing this?

  const images = document.querySelectorAll(".fade-in");

  for (const img of images) {
    if (!img.complete || img.naturalWidth === 0) {
      // not already loaded, fade in
      img.classList.add("opacity-0");

      img.addEventListener("load", () => {
        img.classList.add("transition-opacity", "duration-300");
        img.classList.remove("opacity-0");
      });
    }
  }
</script>
