---
import Circles from "./Circles.svelte";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const animDuration = "0.4s";

const anim = {
  old: {
    name: "motion-blur-out",
    duration: animDuration,
  },
  new: {
    name: "motion-blur-in",
    duration: animDuration,
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};

const isRoot = Astro.url.pathname === "/";
---

<body
  class="flex justify-center
  bg-[#f8f0eb] text-black dark:bg-black dark:text-white
  font-mono
  text-xs
  transition-[background-color] duration-200"
>
  {isRoot && <Circles client:load />}

  <main
    class={`prose dark:prose-invert md:p-8 sm:p-6 p-4
    ${!isRoot && "max-w-[70ch]"}
  `}
    transition:animate={customTransition}
  >
    <slot />

    <hr />

    <div class="flex justify-between gap-3">
      <a href="https://github.com/f0e/site">site source code</a>
      <ThemeSwitcher />
    </div>
  </main>
</body>

<style>
  :root {
    --anim-distance: 20px;
    --blur-amount: 8px;
  }

  @keyframes motion-blur-in {
    from {
      opacity: 0;
      transform: translateX(var(--anim-distance));
      filter: blur(var(--blur-amount));
    }
  }

  @keyframes motion-blur-out {
    to {
      opacity: 0;
      transform: translateX(calc(-1 * var(--anim-distance)));
      filter: blur(var(--blur-amount));
    }
  }
</style>

<script is:inline>
  // TODO: is there a better, more natively Astro way of doing this?

  const images = document.querySelectorAll(".fade-in");

  images.forEach((img) => {
    if (!img.complete || img.naturalWidth === 0) {
      // not already loaded, fade in
      img.classList.add("opacity-0");

      img.addEventListener("load", () => {
        img.classList.add("transition-opacity", "duration-300");
        img.classList.remove("opacity-0");
      });
    }
  });
</script>
