---
import type { MarkdownInstance } from "astro";
import { getCollection } from "astro:content";

import { dateToNiceString } from "@utils/dates";
import { getPostLink } from "@utils/post";

const { filter = [] } = Astro.props;

const posts = (await getCollection("posts"))
  .filter((post) => !filter.includes(post.data.title))
  .sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date));

const site = Astro.url.origin;
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={getPostLink(post.id, site)}>{post.data.title}</a>
        {post.data.date && ` — ${dateToNiceString(new Date(post.data.date))}`}
      </li>
    ))
  }
</ul>
