<div id="theme-switcher" class="requires-js">
  <span class="opacity-50">theme: </span>
  <button id="theme-toggle" class="cursor-pointer underline">system</button>
</div>

<script>
  /* i'd love to not have to do this, and to inline updateLabel so it updates instantly,
  but that apparently stops the rest of the site from rendering??

  for proof, add this above, reload lots of times and watch the layout shift:

  <script is:inline>
    // literally nothing
  < /script>
  */
  function init() {
    globalThis.ThemeProvider.updateLabel();
    registerEvents();
  }

  type Theme = "system" | "dark" | "light";

  function setTheme(theme: Theme) {
    if (theme == "system") {
      localStorage.removeItem("theme");
    } else {
      localStorage.theme = theme;
    }

    globalThis.ThemeProvider.applyTheme();
    globalThis.ThemeProvider.updateLabel();
  }

  function registerEvents() {
    const themeToggle = document.querySelector("#theme-toggle");

    themeToggle?.addEventListener("click", () => {
      const current = localStorage.theme || "system";
      const next =
        current === "system"
          ? "light"
          : current === "light"
            ? "dark"
            : "system";
      setTheme(next);
    });
  }

  document.addEventListener("astro:after-swap", () => {
    init();
  });

  init();
</script>
