---
import "@styles/global.css";

import BaseLayout from "./BaseLayout.astro";

import Main from "@components/Main.astro";

const { title, isPost = false } = Astro.props;
---

<BaseLayout {title} {isPost}>
  <Main {isPost}>
    <slot />
  </Main>
</BaseLayout>
