---
import "../styles/global.css";

import BaseLayout from "./BaseLayout.astro";

import Main from "../components/Main.astro";

const { isPost } = Astro.props;
---

<BaseLayout>
  <Main isPost={isPost}>
    <slot />
  </Main>
</BaseLayout>
