---
import "../styles/global.css";

import BaseLayout from "./BaseLayout.astro";

import Main from "../components/Main.astro";

const { title, isPost } = Astro.props;
---

<BaseLayout title={title}>
  <Main isPost={isPost}>
    <slot />
  </Main>
</BaseLayout>
