---
import "@styles/global.css";

import BaseLayout from "./BaseLayout.astro";

import Main from "@components/Main.astro";

const { title, isPost = false, description = "" } = Astro.props;
---

<BaseLayout {title} {isPost} {description}>
  <Main {isPost}>
    <slot />
  </Main>
</BaseLayout>
