---
import "../styles/global.css";

import Layout from "./Layout.astro";

const { title, date } = Astro.props.content;
---

<Layout title={title} isPost={true}>
  <a href="/" class="mb-4">
    <p class="mt-0">back</p>
  </a>

  {title && <h1>{title}</h1>}

  {
    date && (
      <p class="text-neutral-500">
        {new Date(date).toLocaleDateString(undefined, {
          year: "numeric",
          month: "long",
          day: "numeric",
        })}
      </p>
    )
  }

  <slot />
</Layout>
