---
import "@styles/global.css";

import Giscus from "@components/Giscus.astro";

import Layout from "./Layout.astro";

import { dateToNiceString } from "@utils/dates";

export interface Props {
  frontmatter: {
    title: string;
    date: string;
    description: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  isPost={true}
  description={frontmatter.description}
>
  <a href="/" class="mb-4">
    <p class="mt-0">back</p>
  </a>

  {frontmatter.title && <h1>{frontmatter.title}</h1>}

  {
    frontmatter.date && (
      <p class="text-neutral-500">
        {dateToNiceString(new Date(frontmatter.date))}
      </p>
    )
  }

  <slot />

  <hr />

  <Giscus />
</Layout>
