---
import "@styles/global.css";

import Giscus from "@components/Giscus.astro";

import Layout from "./Layout.astro";

import { dateToNiceString } from "@utils/dates";
import Posts from "@components/Posts.astro";

export interface Props {
  frontmatter: {
    title: string;
    date: string;
    description: string; // @TODO: remove this & automatically get the first x chars from the article
  };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  isPost={true}
  description={frontmatter.description}
>
  {frontmatter.title && <h1>{frontmatter.title}</h1>}

  {
    frontmatter.date && (
      <p class="text-neutral-500">
        {dateToNiceString(new Date(frontmatter.date))}
      </p>
    )
  }

  <article class="post">
    <slot />
  </article>

  <hr />

  <Giscus />

  <hr />

  <h2>more stuff</h2>

  <Posts filter={[frontmatter.title]} />
</Layout>
